@tailwind base;
@tailwind components;
@tailwind utilities;

/* Today Habits */
.habit-square {
  background: var(--background-color);
  transition: transform 100ms;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #fee2e2;
  gap: 8px;
  box-shadow: 0 1px 0.5em #ef444475;
}

.habit-square.habit-done {
  background-color: #dcfce7;
  box-shadow: 0 1px 0.5em #22c55e75;
}

.habit-square:hover {
  transform: scale(1.05);
  border-color: #ef4444;
}

.habit-square:active {
  transform: scale(0.95);
}

.habit-square.habit-done:hover {
  border-color: #22c55e;
}

.habits {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

button {
  margin: 0 0.5rem;
}

.neutral-button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0.2rem;
  transition: 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-weight: bold;
}

.neutral-button:hover {
  background: gray;
  color: white;
}
